html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, button {
	 border: 0;
	 font: inherit;
	 font-size: 100%;
	 margin: 0;
	 padding: 0;
	 vertical-align: baseline;
	 
}
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	 display: block;
}
 ol, ul {
	 list-style-type: none;
    padding: 0;
    margin: 0;
	 list-style: none;
}
 blockquote, q {
	 quotes: none;
}
 blockquote::before, blockquote::after, q::before, q::after {
	 content: "";
	 content: none;
}
 table {
	 border-collapse: collapse;
	 border-spacing: 0;
}
 html {
	 font-family: "AppleSDGothicNeo", "Roboto", "Dotum", sans-serif;
	 touch-action: manipulation;
}
 * {
	 box-sizing: border-box;
}
 body {
	 overscroll-behavior-y: contain;
	 -webkit-tap-highlight-color: transparent;
	 text-indent: 0;
	 -webkit-touch-callout: none;
	 -ms-user-select: none;
	 -moz-user-select: -moz-none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 user-select: none;
	 background-color: rgba(var(--background),var(--tw-bg-opacity));
}
 html, body {
	 height: var(--inner-height, 100%);
}
 a {
	 color: inherit;
	 text-decoration: none;
	 list-style: none;
}
 img {
	 -webkit-touch-callout: none;
	 user-select: none;
	 vertical-align: middle;
}
 img:disabled {
	 opacity: 0.5;
}
 button {
	 appearance: none;
	 background-color: transparent;
	 color: #fff;
	 cursor: pointer;
	 display: inline-block;
	 font-size: inherit;
	 font-weight: bold;
	 line-height: inherit;
	 outline: none;
	 text-align: center;
	 text-decoration: none;
	 white-space: nowrap;
}
 button:disabled {
	 cursor: not-allowed;
}
 input[type=search]::-ms-clear {
	 display: none;
	 height: 0;
	 width: 0;
}
 input[type=search]::-ms-reveal {
	 display: none;
	 height: 0;
	 width: 0;
}
 input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
	 display: none;
}
 input[type=text], input[type=search], input[type=password] {
	 -webkit-appearance: none;
	 appearance: none;
}
 