.main .container {
    width: 630px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.bg-content-home {
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.bg-content-home img {
    width: 100%;
}

.wrapper-banner {
    max-width: 800px;
    margin: 0 auto;
}

.banner-char {
    padding-top: 47%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100% - 20px);

}

.label-time-content {
    padding: 0 20px;
    position: absolute;
    top: 56px;
}

.label-time-content .time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 4px;
}

.banner-char .img-char {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid rgb(48, 42, 41, 0.7);

}

.banner-char .img-char>img {
    max-height: calc(100% - 20px);
    width: 100%;
}

.tranfer-anchor {
    position: relative;
}

.comic-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 6px;
    z-index: 1;
}

.comic-title {
    font-weight: 600;
    color: rgb(var(--any-white));
    font-size: 22px;
}

.comic-des {
    color: rgb(var(--any-white));
    font-size: 12px;
    font-weight: 400;
}

.rate,
.type,
.view,
.like {
    color: rgb(var(--any-white));
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate {
    column-gap: 10px;
}

.rate .type-name {
    white-space: nowrap;
    color: rgb(var(--any-white));
    font-size: 12px;
    font-weight: 400;
}

.type,
.view,
.like {
    word-break: break-all;
    opacity: .75;
    column-gap: 4px;
}

.wrapper-content {
    position: relative;
}

.main .nav-bar {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper-list {
    overflow-x: scroll;
    scrollbar-width: none;
}

.main .list-item {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    margin: 20px 7px 7px 7px;
}

.main .list-item::-webkit-scrollbar {
    display: none;
}

/* .main ul li:not(:last-child){
    margin-right: 30px;
} */

.main ul li a {
    padding: 0 5px;
    white-space: nowrap;
    color: rgb(var(--any-white));
    font-size: 14px;
}

.main ul li:hover a {
    color: rgb(var(--any-white));
}

.main ul li {
    display: inline-block;
}

.content-anchor {
    padding: 0 11px;
    position: relative;
    padding-bottom: 100px;
    padding-top: 10px;
}

.watch-first-chap {
    width: 100%;
    padding: 10px 25px;
    background-color: rgba(var(--any-white), .1);
    border-radius: 4px;
    text-align: center;
    margin-bottom: 6px;
}

.watch-first-chap span {
    font-weight: 500;
    word-break: break-word;
    color: rgb(var(--any-white));
    font-size: 15px;
}

.list-chapter {
    width: 100%;
    /* max-width: 608px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    row-gap: 5px;
    margin: 0 -1px;
}

.list-chapter .chapter {
    display: flex;
    flex-direction: column;
    width: calc(20% - 2px);
    margin: 0 1px;
    position: relative;
}

.list-chapter .chapter .icon-img {
    flex: 1;
}

.list-chapter .chapter .des {
    padding: 3px 5px;
}

.list-chapter .chapter .icon-img>img {
    border-radius: 4px;
    display: block;
    /* min-height: 77px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-chapter .chapter .title {
    color: rgb(var(--any-white));
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    overflow-wrap: break-word;
}

.list-chapter .chapter .date {
    color: rgb(var(--any-white));
    font-size: 11px;
    font-weight: 400;
    opacity: .5;
    line-height: 14px;
}

.extend-info {
    position: absolute;
    top: 3px;
    left: 3px;
}

/* product-info ----------------------- */

.content-anchor .cards .card {
    width: 100%;
    padding: 10px;
    background-color: rgba(var(--any-white), .1);
    border-radius: 4px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 10px;
}

.content-header h3 {
    overflow-wrap: break-word;
    color: rgb(var(--any-white));
    font-size: 16px;
    font-weight: 600;
}

.content-body .list-content {
    display: flex;
    column-gap: 7px;
    flex-direction: column;
}

.content-body .list-tag {
    display: flex;
    column-gap: 8px;
    row-gap: 8px;
    flex-wrap: wrap;
}

.content-body p {
    color: rgb(var(--any-white));
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.row-content {
    display: flex;
}

.row-content .col-tittle {
    white-space: nowrap;
    width: 75px;
    min-width: 54px;
    margin-right: 8px;
    color: rgb(var(--any-white));
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    overflow-wrap: break-word;
    opacity: .5;
    flex-shrink: 0;
}

.row-content .col-des {
    overflow-wrap: break-word;
    color: rgb(var(--any-white));
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    flex: 1;
}

.list-comic {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 14px;
    justify-content: flex-start;
}

.comic {
    width: 100px;
    height: 160px;
    position: relative;
    overflow: hidden;
}

.comic .bg-content-comic {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.comic .bg-content-comic>img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
}

.comic .comic-name {
    position: absolute;
    bottom: 10px;
    left: 0;
}

.comic .comic-name>img {
    display: block;
    width: 100%;
    height: 100%;
}

/* product-info end--------------------------- */

/* product detail ------------------------- */

.push-top-anchor {
    position: relative;
}

.push-top-bg {
    background-color: rgb(var(--any-white));
    margin-left: calc((100vw - 630px) / -2);
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 56px;
    border-radius: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: rgba(var(--any-black), .08);
    cursor: pointer;
}

.push-top-bg>span {
    color: rgb(var(--any-black));
    font-size: 14px;
    font-weight: 700;
}

.ads {
    width: 100%;
    background-color: rgb(var(--any-black));
    margin-bottom: 6px;
    border-radius: 5px;
}

.ads-img {
    padding: 15px 85px 0px 85px;
}

.ads-img>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ads .content .content-body {
    position: relative;
}

.ads-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 10px;
    left: 0px;
    bottom: 10px;
}

.ads-tittle {
    color: rgb(var(--any-white));
    font-size: 14px;
    white-space: nowrap;
}

.ads-link {
    padding: 8px 12px;
    border: 1px solid rgb(var(--any-white));
    color: rgb(var(--any-white));
    font-size: 10px;
    white-space: nowrap;
}

.like-card {
    margin-bottom: 6px;
    width: 100%;
    padding: 20px 0;
}

.like-card .content-body {
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.content-body .like-tittle {
    color: rgb(var(--any-white));
    font-size: 21px;
    font-weight: 700;
}

.content-body .like-img {
    width: 80px;
    height: 80px;
}

.content-body .like-img>svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.row-header {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    --tw-border-opacity: 1;
    --grey-03: var(--dark-grey-03);
    border-color: rgba(var(--grey-03), var(--tw-border-opacity));
}

.comment {
    margin-bottom: 30px;
}

.tittle-comment,
.header-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-comment {
    margin-bottom: 7px;
}

.tittle-comment {
    column-gap: 8px;
}

.content-comment .content {
    width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    word-break: break-word;
    color: rgb(var(--grey-12));
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.header-comment .tittle-comment .tittle-comment-user {
    color: rgb(var(--grey-13));
    font-size: 13px;
    font-weight: 700;
    word-break: break-word;
}

.header-comment .date-comment {
    word-break: break-word;
    color: #6e6a60;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: right;
    height: 18px;
}

.next-chapter {
    display: flex;
    align-items: center;
}

.next-chapter .next-chapter-img {
    width: 90px;
    height: 54px;
    position: relative;
}

.next-chapter-img::after {
    content: '';
    position: absolute;
    content: var(--tw-content);
    border-color: rgba(var(--any-black), .15);
    border: 1px solid;
    border-radius: 6px;
}

.next-chapter .next-chapter-img>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.next-chapter .small-arrow {
    margin-left: auto;
}

.next-chapter .next-chapter-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2px;
    margin: 0 14px;
}

.next-chapter .next-chapter-info .chapter-number {
    color: rgb(var(--grey-15));
    font-size: 13px;
    font-weight: 500;
    word-break: break-word;
}

.next-chapter .next-chapter-info .type {
    color: rgb(var(--grey-07));
    font-size: 12px;
    font-weight: 500;
}

.comic-content {
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(var(--any-white), var(--tw-bg-opacity));
}

.list-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 630px;
}

.img-item>img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom-navigationBar{
    position: fixed;
    bottom: 32px;
}

.navigationBar-content{
    width: 312px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navigationBar-content-left,
.navigationBar-content-comment,
.navigationBar-content-play,
.navigationBar-content-right {
    padding: 1px;
    border-radius: 50%;
    background-color: rgba(var(--any-black), var(--tw-bg-opacity));
    border-color: rgba(255,255,255, 0.1);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
    width: 48px;
    height: 48px;
}

.navigationBar-content-left,
.navigationBar-content-comment,
.navigationBar-content-play,
.navigationBar-content-right > img{
    object-fit: cover;
}


/* product detail end ------------------- */