.tranfer-bg {
    margin-left: calc((100vw - 630px) / -2);
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 150px;
    background: linear-gradient(to bottom, 
    rgba(48, 42, 41, 0) 2%, 
    rgb(48, 42, 41, 0.7) 50%,
     rgb(48, 42, 41));
}

.bg-content {
    height: 100%;
    background: rgb(48, 42, 41);
    width: 100vw;
    margin-left: calc((100vw - 630px) / -2);
    top: 0;
    position: absolute;
}

.nav-bar-anchor {
    background: rgb(48, 42, 41);
    position: sticky;
    top: 0;
    z-index: 1;
}