@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fontawesome-free/css/all.min.css";
@import "../bower_components/Ionicons/css/ionicons.min.css";
@import "../dist/css/AdminLTE.min.css";
@import "../dist/css/skins/_all-skins.min.css";
@import "../bower_components/morris.js/morris.css";
@import "../bower_components/jvectormap/jquery-jvectormap.css";
@import "../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";
@import "../bower_components/bootstrap-datetimepicker/dist/css/bootstrap-datetimepicker.min.css";
@import "../bower_components/bootstrap-daterangepicker/daterangepicker.css";
@import "../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css";
@import "../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css";
@import "../plugins/iCheck/all.css";
@import "../bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css";
@import "../plugins/timepicker/bootstrap-timepicker.min.css";
@import "../bower_components/select2/dist/css/select2.min.css";
@import "../drop/css/style.css";
@import "../employee/list-employee.css";
@import "../teams/multi-select.css";
@import "../go_to_top/go_to_top.css";
@import "../back_button/back_button.css";
@import "../projects/project_list.css";
@import "../label/fix_label.css";
