
.footer .container-fluid{
    background-color: #6161611c!important;
}

.footer .copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.footer .copyright .name{
    color: rgb(var(--grey-05));
    font-size: 12px;
    font-weight: 500;
}