.header {
    position: relative;
    display: block;
}

.header-hidden {
    display:none !important/* Ẩn header menu bằng cách làm mờ */
}

.container .banner{
    max-width: 144px;
    margin-top: 10px;
}

.container .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: -3px;
}

.header-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.nav-bar{
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100%;
}

.container .header-content .list-item {
    width: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    margin: 20px 7px;
}

.container .header-content .list-item::-webkit-scrollbar {
    display: none;
}

.container .header-content ul li:not(:last-child){
    margin-right: 30px;
}

.container .header-content ul li a {
    padding: 10px 16px;
    white-space: nowrap;
    font-weight: 700;
    color: rgb(var(--grey-05));
    font-size: 14px;
}

.container .header-content ul li a.active {
    color: rgb(var(--any-white));
}

// .container .header-content ul li:hover a {
//     color: rgb(var(--any-white));
// }

.container .header-content ul li {
    display: inline-block;
    flex: 1;
}

.opacity-1{
    opacity: 1 !important;
}

.header .fake-block-search{
    opacity: 0;
    background: rgb(48, 42, 41);
    position: fixed;
    width: 100%;
    height: 44px;
    z-index: 2;
}

.header .block-search {
    // opacity: 0;
    // background: rgb(48, 42, 41);
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 10px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header .block-search .col-center{
    color: rgb(var(--any-white));
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.header .block-search .col-left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;
}

.header .block-search .menu-btn {
    cursor: pointer;
    z-index: 1;
}

/* menu :vertical */

.tab-nav-header {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: width 0.5s ease;
    background-color: rgba(var(--grey-02), var(--tw-bg-opacity));
    z-index: 3;
}

.tab-nav-header>ul {
    margin: 0;
    padding: 0;
}

.tab-nav-header .close-tab-nav-header {
    width: 85px;
    height: 70px;
    text-align: center;
    color: rgb(var(--any-white));
    font-size: 13px;
    font-weight: 700;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    border: none;
}

.tab-nav-header .sub-contact {
    display: flex;
    padding-left: 35px;
    margin-top: 12px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;

}

.tab-nav-header .sub-contact img {
    width: 50px;
}

.tab-nav-header .nav-item>a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 70px;
    padding-left: 35px;
    border-radius: 5px;
    color: rgb(var(--any-white));
    font-weight: 700;
}

/* end menu :vertical  */


@media screen and ((min-width: 580px)) {
    .container .header-content .list-item {
        column-gap: 2px;
        margin-left: auto;
        margin-right: auto;
    }
    .container .header-content ul li:not(:last-child){
        margin-right: 10px;
    }
}
