.main .nav-bar {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.wrapper-list {
    overflow-x: scroll;
    scrollbar-width: none;
}

.main .nav-bar .list-item {
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 6px;
    margin: 20px 7px 7px 7px;
}

.main .nav-bar .list-item::-webkit-scrollbar {
    display: none;
}

/* .main ul li:not(:last-child){
    margin-right: 30px;
} */

.main .nav-bar ul li a {
    padding: 0 5px;
    white-space: nowrap;
    color: rgb(var(--any-white));
    font-size: 14px;
}

.main .nav-bar ul li:hover a {
    color: rgb(var(--any-white));
}

.main .nav-bar ul li {
    display: inline-block;
}

.main .nav-bar ul li::after {
    // content: '';
    background-color: transparent;
    margin-top: 4px;
    display: block;
    height: 2px;
    width: 100%;

}

.main .nav-bar ul li.active::after {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgba(var(--any-white),var(--tw-bg-opacity));

}
