.pagination-outter {
    text-align: center;
    color:rgba(var(--any-white));
    margin: 20px 0;
}
.pagination{
    text-align: center;
}
.pager-pagination li, .pagination>li {
    text-align: center;
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
}

.pager-pagination li a:hover {
    background-color: #f18121;
    color: #fff;
}

.pager-pagination li a,
.pager-pagination li span{
    text-decoration: none;
    list-style: none;
    margin: 0 4px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: inline-block;
    border-radius: 150px;
    cursor: pointer;
    font-size: 16px;
    //border: 1px solid #e2e2e2;
}

.pager-pagination .active span{
    cursor: default;
    background-color: #f18121;
    color: #fff;
}
