a.cd-back {
display: inline-block;
height: 60px;
width: 60px;
position: fixed;
bottom: 26px;
left: 55%;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
/* image replacement properties */
overflow: hidden;
text-indent: 100%;
white-space: nowrap;
background: #CCCCCC url("https://upload.wikimedia.org/wikipedia/commons/3/33/Left_curve_arrow_back_-_black.svg") no-repeat center 50%;
background-size: 40px 40px;
visibility: visible;
opacity: 1;
-webkit-transition: opacity .3s 0s, visibility 0s .3s;
-moz-transition: opacity .3s 0s, visibility 0s .3s;
transition: opacity .3s 0s, visibility 0s .3s;
border-radius: 10px;
}


a.cd-back, a.cd-back:visited, a.cd-back:hover {
color: #CCCCCC;
text-decoration: none;
}
.input-group{
    position: sticky;
}
